<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>注册</title>
</head>
<body>
	<h3> <a href="/teacher/index/index">登录</a>|<a href="/teacher/Register/doRegister">注册</a></h3>
	<form action="/teacher/Register/doRegister" method="post">
	<div>姓名:</div> 
	<div><input type="text" name="name"></div>
	<div>性别:</div> 
	<div><input type="text" name="sex"></div>
	<div>密码: </div>
	<div><input type="password" name="password"></div>
	<div>确认密码:</div> 
	<div><input type="password" name="repassword"></div>
	<div>邮箱: </div>
	<div><input type="email" name="email"></div>
	<input type="submit" name="" value="注册">
</form>
</body>
</html>