<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
	<div class="row">
		<h1>后台管理中心</h1>
	</div>
    <div class="list-inline">
        <a href="#">前台首页</a>
		<a href="index">用户列表</a>
		<a href="/teacher/index/logout">退出登录</a>
	</div>
	<div class="info">
		<a href="#" >菜单列表</a>
	    <a href="index">用户管理</a>
	    <a href="#" >网站设置</a>
	    <a href="#" >留言管理</a>
	    <a href="#" >栏目管理</a>
	</div>		

    <div>
    	{__CONTENT__}
    </div>
</body>
</html>